.container {
  margin-top: 3px;
}

.text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
  color: #2a2727;
}

.item {
  margin-right: 5px;
}

.btn {
  display: inline-block;
  margin-left: 3px;
  background: none;
  border: none;
  cursor: pointer;
  color: #3a4850;
  font-size: 14px;
  text-decoration: underline;
  outline: none;
}

.btn:hover {
  text-decoration: none;
}

.details {
  font-size: 14px;
  line-height: 16px;
  text-decoration: underline;
  margin: 0 11px 0 2px;
}
